.cwidetable {
    width: 100%;
    margin-bottom: 20px;
}
.cwidetable td,
.cwidetable th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ededed;
}
.cwidetable pre {
    padding: 3px;
    word-break: normal;
}
.custom-row-collapse-icon svg {
    transition: transform .25s ease-in-out;
}
.collapsed .custom-row-collapse-icon svg,
.collapsed.custom-row-collapse-icon svg {
    transform: rotate(180deg);
}
.table-tests td {
    text-align: center;
    padding: 3px;
}
.table-pretests pre {
    word-break: break-all;
    white-space: pre-wrap;
}
.verdict-accepted {
    background-color: #efe;
}
.verdict-failed {
    background-color: #fee;
}
.verdict-none {
    background-color: #e8e8ff;
}
.horiz-scroll-container {
    width: 99%;
    overflow-x: auto;
    overflow-y: visible;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.white-space-pre {
    white-space: pre;
}

.diff_delete {
    background-color: lightcoral;
}

.diff_add {
    background-color: lightblue;
}

.ace-editor-small {
    height: 350px;
}

.ace-editor-big {
    height: 600px;
}

.standings-cell {
    line-height: 0.9;
}

.standings-cell-first-accepted {
    background-color: #D7FFD7;
}

.standings-cell-small-text {
    font-size: 70%;
}
