@media (max-width: 900px )
{
    #srchFld
    {
        width: 250px; float:right; margin-bottom: 15px; margin-top: 20px;
    }
    input[type=search]
    {
        width: 150px;
    }
    input[type=button]
    {
        width: 30px;
    }
}
@media (min-width: 900px )
{
    input[type=search]
    {
        width: 250px;
    }
    #srchFld
    {
        width: 347px; display:inline-block; float:right; margin-bottom: 15px;margin-right: 25px;
    }
}
.chesspaint {
    background-image: linear-gradient(#f2f2f2 50%, white 50%);
    background-size: 100% 100px;
}
tr {
    height: 50px;
}