/* stylelint-disable */
@media (max-width: 900px )
{
    .path-mod-bacs #srchFld
    {
        width: 250px;
        margin-bottom: 15px;
        margin-top: 20px;
        float: right;
    }
    .path-mod-bacs input[type=search].bacs-mod-form
    {
        width: 150px;
        border:none; float: left;
    }
}
@media (min-width: 900px )
{
    .path-mod-bacs input[type=search].bacs-mod-form
    {
        width: 250px;
        border:none; float: left;
    }
    .path-mod-bacs #srchFld
    {
        width: 347px; display:inline-block; float:right; margin-bottom: 15px;margin-right: 25px;
    }
}
.path-mod-bacs input[type=button].bacs-mod-form
{
    border: 0;
    background-color: transparent;
    float: right;
    width: 30px;
}
.path-mod-bacs .chesspaint-bacs-mod-form {
    background-image: linear-gradient(#f2f2f2 50%, white 50%);
    background-size: 100% 100px;
}
.path-mod-bacs tr.bacs-mod-form {
    height: 50px;
}


.path-mod-bacs #tasks_reorder_list {
    white-space: nowrap;
}
.path-mod-bacs .tasks_reorder_list_item {
    padding: 5px;
    cursor: move;
    border-radius: 5px;
}
.path-mod-bacs .tasks_reorder_list_item:hover {
    background-color: #eee;
}
.path-mod-bacs .letter_list_item {
    padding: 5px;
    font-weight: bold;
}
.path-mod-bacs .tasks_reorder_list_idholder {
    display: none;
}
.path-mod-bacs .tasks_reorder_list_addinfo {
    visibility: hidden;
}
.path-mod-bacs .tasks_reorder_list_item:hover > .tasks_reorder_list_addinfo {
    visibility: visible;
}
.path-mod-bacs .tasks_reorder_list_idinfo {
    font-style: italic;
    color: #a0a0a0;
}
.path-mod-bacs .tm_clickable {
    color: #1177d1;
    text-decoration: none;
    cursor: pointer;
}
.path-mod-bacs .tm_clickable:hover {
    color: #0b4f8a;
    text-decoration: underline;
}
.path-mod-bacs .tm_caption_p {
    font-weight: bold;
    margin-top: 22px;
}

.path-mod-bacs .tm_ignore_move {  }

.path-mod-bacs .tm_action_menu_holder {
    float: right;
    display: inline-block;
    vertical-align: top;
}
.path-mod-bacs .tm_action_menu_title {
    color: #1177d1;
    cursor: auto;
}
.path-mod-bacs .tm_action_menu {
    position: absolute;
    display: none;
    z-index: 1000;

    text-align: left;
    background-color: #fff;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 5px 5px 20px 0 #666;

    margin: 0 0 0 50px;
    transform: translate(-100%, -3px);
}
.path-mod-bacs .tm_action_menu_title:hover + .tm_action_menu,
.path-mod-bacs .tm_action_menu:hover {
    display: block;
}
.path-mod-bacs .tm_action_menu > li {
    display: block;
    line-height: 20px;
    text-align: -webkit-match-parent;
    white-space: nowrap;
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.path-mod-bacs .tm_action_menu > li:hover {
    color: #fff;
    background-color: #1177d1;
}
.path-mod-bacs .tm_action_menu a {
    color: inherit;
    text-decoration: inherit;
}
.path-mod-bacs .cwidetable {
    width: 100%;
    margin-bottom: 20px;
}
.path-mod-bacs .cwidetable td,
.path-mod-bacs .cwidetable th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ededed;
}
.path-mod-bacs .cwidetable pre {
    padding: 3px;
    word-break: normal;
}
.path-mod-bacs .custom-row-collapse-icon svg {
    transition: transform .25s ease-in-out;
}
.path-mod-bacs .collapsed .custom-row-collapse-icon svg,
.path-mod-bacs .collapsed.custom-row-collapse-icon svg {
    transform: rotate(180deg);
}
.path-mod-bacs .table-tests td {
    text-align: center;
    padding: 3px;
}
.path-mod-bacs .table-pretests pre {
    word-break: break-all;
    white-space: pre-wrap;
}
.path-mod-bacs .verdict-accepted {
    background-color: #efe;
}
.path-mod-bacs .verdict-failed {
    background-color: #fee;
}
.path-mod-bacs .verdict-none {
    background-color: #e8e8ff;
}
.path-mod-bacs .horiz-scroll-container {
    width: 99%;
    overflow-x: auto;
    overflow-y: visible;
    position: absolute;
    z-index: 1;
}

.path-mod-bacs .cursor-pointer {
    cursor: pointer;
}

.path-mod-bacs .white-space-pre {
    white-space: pre;
}

.path-mod-bacs .diff_delete {
    background-color: lightcoral;
}

.path-mod-bacs .diff_add {
    background-color: lightblue;
}

.path-mod-bacs .ace-editor-small {
    height: 350px;
}

.path-mod-bacs .ace-editor-big {
    height: 600px;
}

.path-mod-bacs .standings-cell {
    line-height: 0.9;
}

.path-mod-bacs .standings-cell-first-accepted {
    background-color: #D7FFD7;
}

.path-mod-bacs .standings-cell-small-text {
    font-size: 70%;
}
