<div class="bacs-header-card">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h1 class="m-0">{{contest_name}}</h1>
        {{#user_capability_edit}}
            <a class="btn btn-outline-secondary btn-sm d-flex align-items-center" href='/course/modedit.php?update={{coursemodule_id}}'>
                <i class="bi bi-gear-fill me-1"></i> {{#str}} settings, mod_bacs {{/str}}
            </a>
        {{/user_capability_edit}}
    </div>

    <div class="text-muted">
        <i class="bi bi-clock"></i> {{#str}}time, mod_bacs{{/str}}: <b>{{minutes_from_start}}</b> / <b>{{minutes_total}}</b> 
        <span class="mx-2">|</span> 
        <i class="bi bi-info-circle"></i> {{#str}}status, mod_bacs{{/str}}: <b>{{contest_status}}</b>
    </div>

    {{#is_in_virtual_participation}}
        <div class="badge bg-info text-dark mt-2">
            <i class="bi bi-person-video"></i> {{#str}}virtualparticipation, mod_bacs{{/str}}
        </div>
    {{/is_in_virtual_participation}}

    {{#isolate_participants}}
        <div class="badge bg-warning text-dark mt-2">
            <i class="bi bi-eye-slash-fill"></i> {{#str}}isolatedparticipants, mod_bacs{{/str}}
        </div>
    {{/isolate_participants}}
</div>