<script type='text/javascript' src='{{config.wwwroot}}/mod/bacs/thirdparty/chart.umd.js'></script>
<script type='text/javascript' src='{{config.wwwroot}}/mod/bacs/thirdparty/chartjs-plugin-zoom.min.js'></script>
<script type='text/javascript' src='standings.js'></script>

<script type='text/javascript'>
    window.BACS_PAGE_DATA = {
        submissions: {{{submits_json}}},
        students: {{{students_json}}},
        tasks: {{{tasks_json}}},
        contest: {
            starttime: {{starttime}},
            endtime: {{endtime}},
            localizedStrings: {{{localized_strings_json}}}
        }
    };
</script>

<script type='text/javascript' src='js-charts/bacs_utils.js'></script>
<script type='text/javascript' src='js-charts/chart_leader_dynamics.js'></script>
<script type='text/javascript' src='js-charts/chart_results.js'></script>
<script type='text/javascript' src='js-charts/chart_task_dynamics.js'></script>
<script type='text/javascript' src='js-charts/bacs_session_analytics.js'></script>
<script type='text/javascript' src='js-charts/bacs_main.js'></script>

{{! Buttons to toggle between different views }}
<div class="bacs-view-toggles btn-group mb-3" role="group" aria-label="View toggles">
    <button type="button" class="btn btn-primary active" data-view="monitor"><i class="bi bi-table"></i> {{#str}} view_monitor, mod_bacs {{/str}}</button>
    <button type="button" class="btn btn-secondary" data-view="leader-dynamics"><i class="bi bi-graph-up-arrow"></i> {{#str}} view_leaderdynamics, mod_bacs {{/str}}</button>
    <button type="button" class="btn btn-secondary" data-view="results-graph"><i class="bi bi-bar-chart"></i> {{#str}} view_resultsgraph, mod_bacs {{/str}}</button>
    <button type="button" class="btn btn-secondary" data-view="task-dynamics"><i class="bi bi-pie-chart"></i> {{#str}} view_taskdynamics, mod_bacs {{/str}}</button>
</div>

<div class="bacs-views-container">
    {{> mod_bacs/partials/standings_monitor }}
    {{> mod_bacs/partials/standings_leader_dynamics }}
    {{> mod_bacs/partials/standings_results_graph }}
    {{> mod_bacs/partials/standings_task_dynamics }}
</div>


<script type='text/javascript'>
    var standings = new Standings(
        {{{students_json}}}, 
        {{{tasks_json}}}, 
        {{{submits_json}}}, 
        {{coursemodule_id}}, 
        {{moodle_user_id}}, 
        {{starttime}},
        {{endtime}},
        {{mode}},
        false,
        false,
        {{#user_capability_viewany}} true {{/user_capability_viewany}}  {{^user_capability_viewany}} false {{/user_capability_viewany}},
        {{{localized_strings_json}}},
        {{{incidents_json}}}
    );
</script>