# The port on which the Node.js server will listen.
PORT=3000

# Security key for JWT signing and Moodle API authentication. 
# This MUST match the 'ws_secret' value in your Moodle BACS plugin settings.
BACS_WS_SECRET=your_generated_hash_from_moodle_here

# Your moodle base URL.
MOODLE_URL=http://localhost:8000

# Allowed origin for CORS. For production, replace '*' with your specific Moodle URL.
ALLOWED_ORIGIN=*

# Execution frequency (in milliseconds) for the submission status polling worker.
WORKER_INTERVAL=2000